@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&display=swap');

body {
    font-family: 'Inria Sans', sans-serif;
    background-color: cadetblue;
}

.centromedi {
    display: flex;
    justify-content: center;
}

.centropag {
    display: flex;
    justify-content: center;
}

.navfooter {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.50em;
    margin-bottom: 0.50em;
}

a {
    color: white;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    display: inline-block;
}